LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 270
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RosBE Einstellungen"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Reactos Build Environment Einstellungen", 0x0, 10, 10, 140, 13
  LTEXT "Hintergrundfarbe", 0x0, 10, 35, 60, 12
  COMBOBOX IDC_BACK, 100, 35, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  LTEXT "Schriftfarbe", 0x0, 10, 60, 60, 12
  COMBOBOX IDC_FONT, 100, 60, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "Beispieltext", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 10, 85, 235, 15
  CONTROL "Kompilierdauer anzeigen", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 100, 95, 21
  CONTROL "Logs speichern", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 100, 95, 21
  CONTROL "CCache benutzen", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 120, 95, 21
  CONTROL "Daten strippen", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 120, 95, 21
  CONTROL "Verzichnis für OBJ ändern", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 140, 95, 21
  CONTROL "Verzichnis für OUT ändern", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 140, 95, 21
  EDITTEXT ID_LOGDIR, 10, 160, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 160, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_MGWDIR, 10, 178, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 178, 30, 13, WS_TABSTOP
  EDITTEXT ID_OBJDIR, 10, 196, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 196, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_OUTDIR, 10, 214, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 214, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Speichern", ID_OK, 63, 240, 59, 26, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Abbrechen", ID_CANCEL, 133, 240, 59, 26, WS_TABSTOP
END

STRINGTABLE
BEGIN
  MSG_NOGCCFOUND, "Kein GCC Compiler gefunden ! Bitte überprüfen sie ihren Pfad."
  MSG_FILEFAILED, "options.cmd konnte nicht erstellt werden!"
  MSG_DIREFAILED, "Log directory konnte nicht erstellt werden!"
END
