LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 192
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RosBE Settings"
FONT 8, "MS Shell Dlg"
BEGIN
  // x, pos_hight, width, hight
  LTEXT "Reactos Build Environment Settings", 0x0, 10, 10, 140, 13
  LTEXT "Background Color", 0x0, 10, 35, 60, 12
  COMBOBOX IDC_FONT, 100, 35, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  LTEXT "Font Color", 0x0, 10, 60, 60, 12
  COMBOBOX IDC_BACK, 100, 60, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "Show Build Time", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 85, 90, 21
  CONTROL "Save Logs", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 85, 60, 21
  EDITTEXT ID_LOGDIR, 10, 110, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 110, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_MGWDIR, 10, 127, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 127, 30, 13, WS_TABSTOP
  PUSHBUTTON "Save", ID_OK, 63, 155, 59, 26, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Cancel", ID_CANCEL, 133, 155, 59, 26, WS_TABSTOP
END

STRINGTABLE
BEGIN
  MSG_NOGCCFOUND, "No GCC compiler found ! Please check your directory."
  MSG_FILEFAILED, "Failed to create options.cmd !"
  MSG_DIREFAILED, "Failed to create log directory !"
END
