LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 280, 200
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RosBE Settings"
FONT 8, "MS Shell Dlg"
{
  // x, pos_hight, width, hight
  LTEXT "Reactos Build Environment Settings", 0x0, 10, 10, 130, 13
  LTEXT "Font Color", 0x0, 10, 35, 114, 13
  COMBOBOX IDC_FONT, 100, 35, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  LTEXT "Background Color", 0x0, 10, 70, 114, 13
  COMBOBOX IDC_BACK, 100, 70, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "Show Build Time", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 81, 90, 110, 21
  CONTROL "Save Logs", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 60, 21
  EDITTEXT ID_LOGDIR, 25, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSE, 230, 120, 30, 13, WS_TABSTOP
  PUSHBUTTON "Save", ID_OK, 92, 160, 59, 26, WS_TABSTOP
  PUSHBUTTON "Cancel", ID_CANCEL, 162, 160, 59, 26, WS_TABSTOP
}
