LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 242
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètre du RosBE"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Paramètres de l'Environnement de Compilation de ReactOS", 0x0, 10, 10, 240, 15
  LTEXT "Couleur d'arrière plan", 0x0, 10, 35, 60, 17
  COMBOBOX IDC_BACK, 100, 35, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  LTEXT "Couleur de la police", 0x0, 10, 60, 60, 17
  COMBOBOX IDC_FONT, 100, 60, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "Texte d'exemple", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 10, 85, 235, 15
  CONTROL "Montrer le temps de compilation", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 100, 110, 21
  CONTROL "Sauvegarder le journal", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 100, 85, 21
  CONTROL "Utiliser CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 120, 90, 21
  CONTROL "Optimiser les fichiers", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 120, 90, 21
  EDITTEXT ID_LOGDIR, 10, 160, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 160, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_MGWDIR, 10, 178, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 178, 30, 13, WS_TABSTOP
  PUSHBUTTON "Sauvegarder", ID_OK, 63, 205, 59, 26, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Annuler", ID_CANCEL, 133, 205, 59, 26, WS_TABSTOP
END

STRINGTABLE
BEGIN
  MSG_NOGCCFOUND, "Impossible de trouver le compilateur GCC ! Veuillez vérifier votre répertoire."
  MSG_FILEFAILED, "Impossible de créer options.cmd!"
  MSG_DIREFAILED, "Impossible de créer le répertoire pour le journal!"
END
