// Russian language resource file (towerr, tumans@nm.ru 2007-10-17)

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 270
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Установки переменных компилятора РеактОС"
FONT 8,"MS Sans Serif",0,0
BEGIN
  LTEXT "Path to gcc Compiler", 0x0, 10, 107, 100, 15
  LTEXT "Цвет Фона", 0x0, 10, 10, 75, 12
  COMBOBOX IDC_BACK, 100, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  LTEXT "Цвет Шрифта", 0x0, 10, 35, 75, 12
  COMBOBOX IDC_FONT, 100, 35, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\nSample text", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 58, 125, 36
  CONTROL "Показывать Время", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 55, 100, 12
  CONTROL "Вести Логи", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  CONTROL "Use CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 70, 100, 12
  CONTROL "Strip Output", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 85, 100, 12
  CONTROL "Change Folder for OBJ", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  CONTROL "Change Folder for OUT", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Сохранить", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Отменить", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
END

STRINGTABLE
BEGIN
  CLR0, "Black"
  CLR1, "Blue"
  CLR2, "Green"
  CLR3, "Aqua"
  CLR4, "Red"
  CLR5, "Purple"
  CLR6, "Yellow"
  CLR7, "White"
  CLR8, "Gray"
  CLR9, "Light Blue"
  CLR10, "Light Green"
  CLR11, "Light Aqua"
  CLR12, "Light Red"
  CLR13, "Light Purple"
  CLR14, "Light Yellow"
  CLR15, "Bright White"
  MSG_NOGCCFOUND, "Компилятор GCC ненайден! Проверьте правильность установки."
  MSG_FILEFAILED, "Невозможно создать файл rosbe-options.cmd"
  MSG_DIREFAILED, "Невозможно создать папку для логов!"
END
