// Russian language resource file (towerr, tumans@nm.ru 2007-10-17)

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 207
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Установки RosBE"
FONT 8,"MS Sans Serif",0,0
BEGIN
  LTEXT "Установки переменных компилятора РеактОС", 0x0, 10, 10, 140, 13
  LTEXT "Цвет Фона", 0x0, 10, 35, 60, 12
  COMBOBOX IDC_BACK, 100, 35, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  LTEXT "Цвет Шрифта", 0x0, 10, 60, 60, 12
  COMBOBOX IDC_FONT, 100, 60, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "Sample text", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 10, 85, 235, 15
  CONTROL "Показывать Время", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 100, 90, 21
  CONTROL "Вести Логи", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 100, 60, 21
  EDITTEXT ID_LOGDIR, 10, 125, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 125, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_MGWDIR, 10, 142, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 142, 30, 13, WS_TABSTOP
  PUSHBUTTON "Сохранить", ID_OK, 63, 170, 59, 26, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Отменить", ID_CANCEL, 133, 170, 59, 26, WS_TABSTOP
END

STRINGTABLE
BEGIN
  MSG_NOGCCFOUND, "Компилятор GCC ненайден! Проверьте правильность установки."
  MSG_FILEFAILED, "Невозможно создать файл options.cmd"
  MSG_DIREFAILED, "Невозможно создать папку для логов!"
END
