<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="c10bd463-0752-4b27-82ab-fc852bb11ee3" Name="ReactOS Remote Debugger" Language="1033" Version="1.0.0.0" Manufacturer="ReactOS Team" UpgradeCode="ea120514-a7ac-44c9-b68f-819bb15d22bd">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="ReactOS Remote Debugger">
          <Component Id ="ProgramFiles" Guid ="326981F4-EF71-49fc-BE0C-9433F674F059">
            <File Id="dbghelp.dll" Name="dbghelp.dll" Source="$(var.SolutionDir)dbghelptest\dbghelp.dll" DiskId="1"/>
            <File Id="$(var.DbgHelp.TargetFileName)" Name="$(var.DbgHelp.TargetFileName)" Source="$(var.DbgHelp.TargetPath)" DiskId="1"/>
            <File Id="$(var.WinFormsUI.TargetFileName)" Name="$(var.WinFormsUI.TargetFileName)" Source="$(var.WinFormsUI.TargetPath)" DiskId="1"/>
            <File Id="$(var.Pipe.TargetFileName)" Name="$(var.Pipe.TargetFileName)" Source="$(var.Pipe.TargetPath)" DiskId="1"/>
            <File Id="$(var.DebugProtocol.TargetFileName)" Name="$(var.DebugProtocol.TargetFileName)" Source="$(var.DebugProtocol.TargetPath)" DiskId="1"/>
            <File Id="$(var.RosDBG.TargetFileName)" Name="$(var.RosDBG.TargetFileName)" Source="$(var.RosDBG.TargetPath)" DiskId="1" KeyPath="yes">
              <Shortcut Id="startmenuRosDbg" Directory="ProgramMenuDir" Name="ReactOS Remote Debugger" WorkingDirectory='INSTALLDIR'
                Icon="$(var.RosDBG.TargetFileName)" IconIndex="0"  Advertise="yes" />
              <Shortcut Id="desktopRosDbg" Directory="DesktopFolder" Name="ReactOS Remote Debugger" WorkingDirectory='INSTALLDIR'
                Icon="$(var.RosDBG.TargetFileName)" IconIndex="0" Advertise="yes" />
            </File>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name='ReactOS Remote Debugger'>
          <Component Id='ProgramMenuDir' Guid='C8B5EF28-F6D9-40a6-B7CB-6F6BF22FC0D7'>
            <RemoveFolder Id='ProgramMenuDir' On='uninstall'/>
            <RegistryValue Root='HKCU' Key='SOFTWARE\ReactOS\RosDbg'
                          Type='string' Value='StartMenuFolder'
                          KeyPath='yes' />
          </Component >
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      
    </Directory>

    <Icon Id="$(var.RosDBG.TargetFileName)" SourceFile="$(var.RosDBG.TargetPath)" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_Common" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <UI Id="WixUI_InstallDir">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">1</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID="1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <PropertyRef Id="NETFRAMEWORK35" />
    <Condition Message="This setup requires the .NET Framework 3.5 to be installed.">
      Installed OR NETFRAMEWORK35
    </Condition>

    <Feature Id="ProductFeature" Title="ReactOS Remote Debugger" Level="1">
      <ComponentRef Id='ProgramFiles' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>
  </Product>
</Wix>
