LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètres de l'Environnement de Compilation de ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Chemin vers MinGW/GCC", 0x0, 10, 107, 110, 15
  LTEXT "Couleur d'arrière plan", 0x0, 10, 10, 75, 12
  COMBOBOX IDC_BACK, 100, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  LTEXT "Couleur de la police", 0x0, 10, 35, 75, 12
  COMBOBOX IDC_FONT, 100, 35, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\nTexte d'exemple", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 125, 58, 120, 36
  CONTROL "Montrer le temps de compilation", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 55, 110, 12
  CONTROL "Sauvegarder le journal", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  CONTROL "Utiliser CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 70, 100, 12
  CONTROL "Optimiser les fichiers", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 85, 100, 12
  CONTROL "Changer de répertoire pour OBJ", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 150, 12
  CONTROL "Changer de répertoire pour OUT", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 150, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Sauvegarder", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Annuler", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "Bienvenue !", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

STRINGTABLE
BEGIN
  CLR0, "Noir"
  CLR1, "Bleu"
  CLR2, "Vert"
  CLR3, "Turquoise"
  CLR4, "Rouge"
  CLR5, "Violet"
  CLR6, "Jaune"
  CLR7, "Blanc"
  CLR8, "Gris"
  CLR9, "Bleu Clair"
  CLR10, "Vert Clair"
  CLR11, "Turquoise Clair"
  CLR12, "Rouge Clair"
  CLR13, "Violet Clair"
  CLR14, "Jaune Clair"
  CLR15, "Blanc Brillant"
  MSG_NOGCCFOUND, "Impossible de trouver MinGW/GCC ! Veuillez vérifier votre répertoire."
  MSG_FILEFAILED, "Impossible de créer rosbe-options.cmd !"
  MSG_DIREFAILED, "Impossible de créer le répertoire pour le journal !"
  MSG_SETLOADSUC, "Paramètres précédents chargés avec succès."
  MSG_FINDLOGDIR, "Veuillez choisir le répertoire où seront stockés les journaux :"
  MSG_FINDMGWDIR, "Veuillez sélectionner le répertoire où se situe MingW/GCC :"
  MSG_FINDOBJDIR, "Veuillez choisir le répertoire où vous désirez sauver les fichiers OBJ :"
  MSG_FINDOUTDIR, "Veuillez choisir le répertoire où vous désirez sauver les fichiers OUT :"
  /* Help Strings */
  HLP_BACKCOLORC, "Choisissez la couleur de fond pour les fenêtres DOS du RosBE."
  HLP_FONTCOLORC, "Choisissez la couleur du texte pour les fenêtres DOS du RosBE."
  HLP_SBUILDTIME, "Vous permet d'afficher à la fin de la compilation le temps qu'elle a pris."
  HLP_CCACHEUSED, "Cochez si vous désirez utiliser le cache de compilation."
  HLP_STRIPEDEXE, "Cochez si vous désirez produire des exécutables optimisés."
  HLP_FINDMGWDIR, "Ce paramètre vous permet de définir le repertoire où se situe MingW/GCC."
  HLP_FINDLOGDIR, "Ce paramètre vous permet de choisir où seront stockés les journaux de compilation."
  HLP_FINDOBJDIR, "Ce paramètre vous permet de choisir où seront stockés les fichiers OBJ."
  HLP_FINDOUTDIR, "Ce paramètre vous permet de choisir où seront stockés les fichiers OUT."
  HLP_SAVEBUTTON, "Activé quand un paramètre est changé, permet de quitter en sauvant."
  HLP_QUITBUTTON, "Ce bouton vous permet de quitter la configuration sans sauvegarder."
  HLP_DEFAULTMSG, "Passez sur un contrôle pour avoir de l'aide."
END
