// Russian language resource file (towerr, tumans@nm.ru 2007-10-17)

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Установки переменных компилятора ReactOS"
FONT 8,"MS Sans Serif",0,0
BEGIN
  LTEXT "Цвет фона", -1, 10, 10, 75, 12
  LTEXT "Цвет шрифта", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\nПример текста", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "Отображать время компиляции", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "Использовать кеширование", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "Вырезать пустой код при компил.", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "Create nostrip files for debugging", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 150, 12
  CONTROL "Download and make rosapps and rostests", ID_MODULES, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 105, 150, 12
  LTEXT "Путь к компилятору GCC", -1, 10, 122, 100, 15
  EDITTEXT ID_MGWDIR, 10, 135, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 135, 30, 13, WS_TABSTOP
  CONTROL "Вести логи", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 158, 100, 12
  EDITTEXT ID_LOGDIR, 10, 171, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 171, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "Путь к каталогу объектов", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 193, 100, 12
  EDITTEXT ID_OBJDIR, 10, 207, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 207, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "Путь к каталогу вывода", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 230, 100, 12
  EDITTEXT ID_OUTDIR, 10, 243, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 243, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Сохранить", ID_OK, 63, 265, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Отмена", ID_CANCEL, 133, 265, 59, 16, WS_TABSTOP
  CONTROL "Введение", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 290, 255, 15
END

STRINGTABLE
BEGIN
  CLR0, "Чёрный"
  CLR1, "Синий"
  CLR2, "Зеленый"
  CLR3, "Аква"
  CLR4, "Красный"
  CLR5, "Пурпурный"
  CLR6, "Жёлтый"
  CLR7, "Белый"
  CLR8, "Серый"
  CLR9, "Светло-голубой"
  CLR10, "Светло-зелёный"
  CLR11, "Светло-аква"
  CLR12, "Ярко-красный"
  CLR13, "Светло-пурпурный"
  CLR14, "Ярко-жёлтый"
  CLR15, "Ярко-белый"
  MSG_NOGCCFOUND, "Компилятор GCC не найден! Проверьте правильность установки."
  MSG_FILEFAILED, "Невозможно создать файл rosbe-options.cmd"
  MSG_DIREFAILED, "Не удалось создать директорию!"
  MSG_SETLOADSUC, "Ранее сохраненные настройки загружены."
  MSG_FINDLOGDIR, "Укажите каталог сохранения лог-файлов:"
  MSG_FINDMGWDIR, "Укажите каталог расположения компилятора MinGW:"
  MSG_FINDOBJDIR, "Укажите каталог сохранения объектных файлов:"
  MSG_FINDOUTDIR, "Укажите каталог сохранения компилированных файлов:"
  MSG_WARNINGBOX, "Внимание!"
  MSG_EXITCHANGE, "Вы закрываете программу не сохранив настройки?"
  MSG_INVALIDDIR, "Указанная директория не существует. Создать ее?"
  /* Help Strings */
  HLP_BACKCOLORC, "Выберите цвет фона в окне консоли RosBE"
  HLP_FONTCOLORC, "Выберите цвет шрифта в окне консоли RosBE"
  HLP_SBUILDTIME, "Позволяет видеть время затраченное от начала до конца процесса компиляции"
  HLP_CCACHEUSED, "Отметьте если вы хотите использовать кеш компилятора"
  HLP_STRIPEDEXE, "Отметьте если вы хотите удалить неиспользуемый код из исполняемых файлов"
  HLP_FINDMGWDIR, "Этот параметр определяет расположение MinGW"
  HLP_FINDLOGDIR, "Этот параметр определяет место сохранения логов"
  HLP_FINDOBJDIR, "Этот параметр определяет место для хранения файлов объектных модулей"
  HLP_FINDOUTDIR, "Этот параметр определяет место для сохранения откомпилированных исполняемых файлов"
  HLP_SAVEBUTTON, "Активное состояние кнопки указывает на возможность сохранения измененных настроек"
  HLP_QUITBUTTON, "Это клавиша позволяет выйти без сохранения изменений"
  HLP_DEFAULTMSG, "Помощь по изначальным параметрам"
  HLP_NOSTRIP,    "Creates debug information for the ReactOS Debugger."
  HLP_MODULES,    "If checked ROSBE will download rosapps and rostests and add them to compiled image."
END
