// Russian language resource file (towerr, tumans@nm.ru 2007-10-17)

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Установки переменных компилятора ReactOS"
FONT 8,"MS Sans Serif",0,0
BEGIN
  LTEXT "Путь к компилятору GCC", 0x0, 10, 107, 100, 15
  LTEXT "Цвет фона", 0x0, 10, 10, 75, 12
  COMBOBOX IDC_BACK, 100, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  LTEXT "Цвет шрифта", 0x0, 10, 35, 75, 12
  COMBOBOX IDC_FONT, 100, 35, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\nПример текста", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 58, 125, 36
  CONTROL "Отображать время компиляции", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 55, 100, 12
  CONTROL "Вести логи", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  CONTROL "Использовать кэширование", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 70, 100, 12
  CONTROL "Вырезать пустой код при компил.", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 85, 100, 12
  CONTROL "Путь к каталогу объектов", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  CONTROL "Путь к каталогу вывода", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Сохранить", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Отменить", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "Введение", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

STRINGTABLE
BEGIN
  CLR0, "Чёрный"
  CLR1, "Синий"
  CLR2, "Зеленый"
  CLR3, "Аква"
  CLR4, "Красный"
  CLR5, "Пурпурный"
  CLR6, "Жёлтый"
  CLR7, "Белый"
  CLR8, "Серый"
  CLR9, "Светло-голубой"
  CLR10, "Светло-зелёный"
  CLR11, "Светло-аква"
  CLR12, "Ярко-красный"
  CLR13, "Светло-пурпурный"
  CLR14, "Ярко-жёлтый"
  CLR15, "Ярко-белый"
  MSG_NOGCCFOUND, "Компилятор GCC не найден! Проверьте правильность установки."
  MSG_FILEFAILED, "Невозможно создать файл rosbe-options.cmd"
  MSG_DIREFAILED, "Failed to create directory!"
  MSG_SETLOADSUC, "Ранее сохраненные настройки загружены."
  MSG_FINDLOGDIR, "Укажите каталог сохранения лог-файлов:"
  MSG_FINDMGWDIR, "Укажите каталог расположения компилятора MinGW:"
  MSG_FINDOBJDIR, "Укажите каталог сохранения объектных файлов:"
  MSG_FINDOUTDIR, "Укажите каталог сохранения компилированных файлов:"
  MSG_WARNINGBOX, "Внимание!"
  MSG_EXITCHANGE, "Вы закрываете программу не сохранив настройки?"
  MSG_INVALIDDIR, "The directory you entered doesn't exist. Do you want to create it?"
  /* Help Strings */
  HLP_BACKCOLORC, "Выберите цвет фона в окне консоли RosBE"
  HLP_FONTCOLORC, "Выберите цвет шрифта в окне консоли RosBE"
  HLP_SBUILDTIME, "Позволяет видеть время затраченное от начала до конца процесса компиляции"
  HLP_CCACHEUSED, "Отметьте тут если вы хотите использовать кэш компилятора"
  HLP_STRIPEDEXE, "Отметьте тут если вы хотите удалить неиспользуемый код из исполняемых файлов"
  HLP_FINDMGWDIR, "Этот параметр определяет расположение MingW"
  HLP_FINDLOGDIR, "Этот параметр определяет место сохранения логов"
  HLP_FINDOBJDIR, "Этот параметр определяет место для хранения файлов объектных модулей"
  HLP_FINDOUTDIR, "Этот параметр определяет место для сохранения откомпилированных исполняемых файлов"
  HLP_SAVEBUTTON, "Активное состояние кнопки указывает на возможность сохранения измененных настроек"
  HLP_QUITBUTTON, "Это клавиша позволяет выйти без сохранения изменений"
  HLP_DEFAULTMSG, "Подсказка по установкам по умолчанию"
END
