LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

ID_DIALOG DIALOG DISCARDABLE  0, 0, 304, 220
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RosBE Settings"
FONT 8, "MS Shell Dlg"
{
  // x, pos_hight, width, hight
  LTEXT "Reactos Build Envirement Settings", 0x0, 15, 12, 114, 13
  LTEXT "Font Color", 0x0, 12, 45, 114, 13
  COMBOBOX IDC_FONT, 100, 45, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  LTEXT "Background Color", 0x0, 12, 81, 114, 13
  COMBOBOX IDC_BACK, 100, 81, 110, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "Show Build Time", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 81, 123, 110, 21
  CONTROL "Save Logs", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 123, 60, 21
  EDITTEXT ID_LOGDIR, 34, 140, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSE, 250, 140, 32, 13, WS_TABSTOP
  PUSHBUTTON "Save", ID_OK, 92, 191, 59, 26, WS_TABSTOP
  PUSHBUTTON "Cancel", ID_CANCEL, 162, 191, 59, 26, WS_TABSTOP
}
