<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NtstatusXml" value="Resources\ntstatus.xml" />
    <add key="WinerrorXml" value="Resources\winerror.xml" />
    <add key="HresultXml" value="Resources\hresult.xml" />
    <add key="BugcheckXml" value="Resources\bugcheck.xml" />
    <add key="WmXml" value="Resources\wm.xml" />
    <add key="BugUrl" value="http://www.reactos.org/bugzilla/show_bug.cgi?id={0}" />
    <add key="BugHomepage" value="http://www.reactos.org/bugzilla"/>
  </appSettings>
</configuration>