<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MsgTrans.Library.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MsgTrans.Library.Tests.Properties.Settings>
            <setting name="NtStatusXml" serializeAs="String">
                <value>..\..\..\GUI\Resources\ntstatus.xml</value>
            </setting>
            <setting name="WinerrorXml" serializeAs="String">
                <value>..\..\..\GUI\Resources\winerror.xml</value>
            </setting>
            <setting name="HresultXml" serializeAs="String">
                <value>..\..\..\GUI\Resources\hresult.xml</value>
            </setting>
            <setting name="BugcheckXml" serializeAs="String">
                <value>..\..\..\GUI\Resources\bugcheck.xml</value>
            </setting>
            <setting name="WmXml" serializeAs="String">
                <value>..\..\..\GUI\Resources\wm.xml</value>
            </setting>
            <setting name="BugUrl" serializeAs="String">
                <value>http://www.reactos.org/bugzilla/show_bug.cgi?id={0}</value>
            </setting>
        </MsgTrans.Library.Tests.Properties.Settings>
    </userSettings>
</configuration>