/*
 * PROJECT:     Config Tool for ReactOS Build Environment
 * LICENSE:     GNU General Public License v2. (see LICENSE.txt)
 * FILE:        tools/RosBE/RosBE-Windows/Tools/config/lang/zh-TW.rc
 * PURPOSE:     Chinese (Traditional) Language File for config
 * TRANSLATOR:  Elton Chung <elton328@gmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 建置環境設置"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "背景顏色", -1, 10, 10, 75, 12
  LTEXT "字體顏色", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n示例文本", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "顯示建置時間", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "使用 CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "裁減輸出", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "建立調試用的包裝檔", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "顯示版本標頭", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "MinGW/GCC 的路徑", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "儲存日誌", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "更改 OBJ 的目錄", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "更改 OUT 的目錄", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "儲存", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "取消", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "歡迎！", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

ID_DIALOG64 DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 建置環境設置 - AMD64"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "背景顏色", -1, 10, 10, 75, 12
  LTEXT "字體顏色", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n示例文本", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "顯示建置時間", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "使用 CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "裁減輸出", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "建立調試用的包裝檔", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "顯示版本標頭", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "MinGW/GCC 的路徑", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "儲存日誌", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "更改 OBJ 的目錄", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "更改 OUT 的目錄", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "儲存", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "取消", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "歡迎！", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

ID_DIALOGARM DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 建置環境設置 - ARM"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "背景顏色", -1, 10, 10, 75, 12
  LTEXT "字體顏色", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n示例文本", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "顯示建置時間", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "使用 CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "裁減輸出", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "建立調試用的包裝檔", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "顯示版本標頭", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "MinGW/GCC 的路徑", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "儲存日誌", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "更改 OBJ 的目錄", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "更改 OUT 的目錄", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "儲存", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "取消", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "歡迎！", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

STRINGTABLE
BEGIN
  CLR0, "黑色"
  CLR1, "藍色"
  CLR2, "綠色"
  CLR3, "水色"
  CLR4, "紅色"
  CLR5, "紫色"
  CLR6, "黃色"
  CLR7, "白色"
  CLR8, "灰色"
  CLR9, "淺藍色"
  CLR10, "淺綠色"
  CLR11, "淺水色"
  CLR12, "淺紅色"
  CLR13, "淺紫色"
  CLR14, "淺黃"
  CLR15, "亮白色"
  MSG_NOGCCFOUND, "找不到 MinGW/GCC！ 請檢查你的目錄。"
  MSG_CMDFFAILED, "無法創建 rosbe-options.cmd！"
  MSG_PS1FFAILED, "無法創建 rosbe-options.ps1！"
  MSG_DIREFAILED, "無法創建目錄！"
  MSG_SETLOADSUC, "先前的設置已被成功載入。"
  MSG_FINDLOGDIR, "請選擇一個儲存日誌的目錄："
  MSG_FINDMGWDIR, "請選擇 MinGW/GCC 所位於的目錄："
  MSG_FINDOBJDIR, "請選擇儲存 OBJ 檔案的目錄："
  MSG_FINDOUTDIR, "請選擇儲存 OUT 檔案的目錄："
  MSG_WARNINGBOX, "警告"
  MSG_EXITCHANGE, "您確定要在不儲存下退出？"
  MSG_INVALIDDIR, "你所輸入的目錄並不存在。你要創建它嗎？"
  /* Help Strings */
  HLP_BACKCOLORC, "選擇 RosBE DOS 視窗的背景顏色。"
  HLP_FONTCOLORC, "選擇 RosBE DOS 視窗的字體顏色。"
  HLP_SBUILDTIME, "讓你在建置完結時顯示總建置時間。"
  HLP_CCACHEUSED, "如果你要使用 ccache (編譯器緩存)，請勾劃。"
  HLP_STRIPEDEXE, "如果你要製作裁減的應用程式 ，請勾劃。"
  HLP_FINDMGWDIR, "此設置讓你定義 MinGW/GCC 的位置。"
  HLP_FINDLOGDIR, "此設置讓你定義建置日誌的儲存位置。"
  HLP_FINDOBJDIR, "此設置讓你定義 OBJ 檔案的儲存位置。"
  HLP_FINDOUTDIR, "此設置讓你定義 OUT 檔案的儲存位置。"
  HLP_SAVEBUTTON, "當設置被更改時會被啟動，它結束及儲存設置。"
  HLP_QUITBUTTON, "此按鈕讓你在不儲存下離開設置。"
  HLP_DEFAULTMSG, "將滑鼠移過控制項以取得協助。"
  HLP_NOSTRIP,    "為 ReactOS 調試器建立調試資訊。"
  HLP_VERSION,    "顯示 RosBE 元件的版本。"
END
